body{
	background-image:url('../images/img3.jpg');
	}
h1{     
   text-decoration:underline;
   letter-spacing:0.1em;
   word-spacing:0.25em;
   text-align: center;
   }
p{
     text-align: center;
     letter-spacing:0.1em;
     word-spacing:0.25em;
     text-decoration:underline;
     line-height:0.5em;
     font-size:1em;
     }
     h3{
           text-decoration:underline;
           }
           
           
     
   
